
*Secret.txt
*01_Hola mundo
*02_Pares
*03_Datos
*04_Contador
*05_Edades
*Pruebas.cpp
*Promediovector
*Promediovector.cpp 
*Sumatoria
*Sumatoria.cpp
*Switch
*Switch.cpp
*Pruebas
*Pruebas2
*Pruebas2.cpp 
*Añobi 
*Desviacion.cpp 



